<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store - Product Info</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="container">
    <h1 class="header"><%=product.name%></h1></br>
    <a href="/products">Back to the index page</a></br>
    <img src="<%=product.img %>"></br> 

    <a href="/products/<%=product._id%>/edit"><button>EDIT</button></a></br>
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
    <p>Price: $<%=product.price%></p>
    <p>Description: <%= product.description%></p>
    Quantity: <% if(product.qty <= 0) {%>
        <p>Out of stock</p>
        <%}else{%>
            <%=product.qty%>
            <% }%>
        
    <form action="/products/<%=product._id%>/buy" method="POST">
        <input type="submit" value="BUY">
    </form>
    
</body>
</html>